@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

:root {
  --gradient: radial-gradient(circle, #e5e5e5 0%, #fff 100%);
}

html,
body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  font-family: "Mona Sans", sans-serif;
  /* background-image: url("../public/New/1.jpg");
  background-size: 10%;
  background-repeat: no-repeat; */
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-row-center {
    @apply flex flex-row justify-center items-center;
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }
}
